@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --background: #f9f9fb;
  --foreground: #111827;
  --primary: oklch(0.96 0.005 270);
  --primary-foreground: #ffffff;
  --sidebar-bg: #1f2937;
  --sidebar-text: #ffffff;
  --border: #e5e7eb;
  --input: #ffffff;
  --muted-foreground: #6b7280;
  --warning: #f97316;
  --radius: 0.5rem;
  --accordion-bg: var(--primary); /* Background for header and content */
  --accordion-border: var(--border);
  --accordion-foreground: var(--foreground);
  --accordion-muted: var(--muted-foreground);
}

.dark {
  /* Dark Theme */
  --background: oklch(0.26 0.01 150); /* Charcoal */
  --foreground: oklch(0.98 0.002 270); /* Light text */
  --primary: #14b8a6;
  --primary-foreground: oklch(0.98 0.002 270);
  --border: oklch(0.5 0.01 150 / 30%);
  --input: oklch(0.3 0.01 150 / 30%);
  --muted-foreground: oklch(0.85 0.01 270);
  --destructive: oklch(0.65 0.24 27);
}

@layer base {
  * {
    @apply border-border outline-none;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }

  input,
  textarea,
  select {
    @apply bg-input text-foreground border border-border rounded-md px-3 py-2;
  }

  button {
    @apply bg-primary text-primary-foreground px-4 py-2 rounded-md hover:opacity-90;
  }

  .text-muted {
    @apply text-muted-foreground;
  }

  .btn-danger {
    @apply bg-destructive text-white px-4 py-2 rounded-md;
  }
}
